<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/styles.css">
    <script src="/public/js/auth.js"></script>
    <title>Document</title>
</head>
<body class="w-full h-full bg-gray-100">
    <div class="min-h-screen bg-gray-100 flex flex-col justify-center sm:py-12">
        <div class="p-10 xs:p-0 mx-auto md:w-full md:max-w-md">
            <div class="bg-white shadow w-full rounded-sm divide-y divide-gray-200">
                <div class="py-5">
                    <div class="flex items-center justify-center">
                      <div class="text-center sm:text-left whitespace-nowrap">
                        <button id="logout" class="transition duration-200 mx-5 px-5 py-4 cursor-pointer font-normal text-sm rounded-sm text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-200 focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50 ring-inset">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-4 h-4 inline-block align-text-top">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 11V7a4 4 0 118 0m-4 8v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2z" />
                            </svg>
                            <span class="inline-block ml-1">Logout</span>
                        </button>
                      </div>
                    </div>
                  </div>
                <div class="px-5 py-7">
                    <h1 class="font-bold text-xl text-center">Welcome!</h1>
                </div>
            </div>
        </div>
    </div>
    <script src="/public/js/index.js"></script>
</body>
</html>